*{
	padding: 0;
	margin: 0;
	font-family: Tahoma, Sylfaen, sans-serif;
}

body{
    position: relative;
	background: #feecf1;
	font-size: 14px;
	color: #5e5e5e;
	min-width: 320px;
}

.all{
    height:100%;
}
header .menu-top{
	/*for some shadow*/
	margin-bottom: 1px;
}
h3{
	font-size: 24px;
	font-weight: 700;
}

/*NAV BAR*/
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
	height:0;
}
.nav-extended .fa-bars{
	font: normal normal normal 20px/1 FontAwesome;
	color:#5e5e5e;
}
.menu-top .nav-extended {
	margin: 0;
	/*background: #FEF2F4;*/
	padding: 5px 25px;
	text-transform: uppercase;
}
.nav-extended .nav-wrapper .brand-logo{
	text-decoration: none;
}
.nav-extended .nav-wrapper ul > li > a{
	transition: background 0.3s;
}
.nav-extended .nav-wrapper ul > li > a:hover{
	color: #fff;
	text-decoration: underline;
}

/*Carousel Welcome*/
.my_carousel-slider{
	height: 600px !important;
}
.my_carousel-slider .carousel-item>img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	min-height: 100%;
}
.my_carousel-inner-text{
	position: absolute;
	top: 40%;
	left:50%;
	transform: translate(-50%,-50%);;
}
.carousel.my_carousel-slider .carousel-item h2 {
	font-weight:bold;
	font-size:64px;
	text-shadow: -1px 0 #363636, 0 1px #363636, 1px 0 #363636, 0 -1px #363636;
}
.carousel.my_carousel-slider .carousel-item p {
	font-weight:bold;
	font-size:32px;
	text-shadow: -1px 0 #363636, 0 1px #363636, 1px 0 #363636, 0 -1px #363636;
}
.carousel.my_carousel-slider .indicators .indicator-item{
	height: 18px;
	width: 18px;
}


/*Slogan*/
.main-slogan{
	text-align: center;
}
.main-slogan h2{
	font-size:36px;
}
.main-menu .navbar-inverse{
	background-color: transparent;
	border: none;
}
.main-menu{
	position: absolute;
	z-index: 50;
	width:100%;
	top:30px;
}
.main-menu .navbar-inverse .navbar-nav > li > a{
	color:#fff;
	font-size: 16px;
	transition: background 0.5s;
}
.main-menu .navbar-inverse .navbar-nav > li > a:hover{
	text-decoration: underline;
}
.carousel-menu .main-menu .navbar-brand{
	padding:0;
	margin-left:30px;
}
.main-menu .navbar-brand img{
	float: left;
}
.main-menu .navbar-brand span{
	display: inline-block;
	padding:15px;
	color:#FFF;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.mein-men-bg{
	background-color: #5e5e5e;
	border-radius: 3px;
}

/*       populars     */
.populars,
.categories{
	padding:25px 0 25px 0;
}

.category{
	padding:15px 0;
	border-bottom: 3px solid #FF291E;
	border-radius: 15px;
	background-color: #ffd1d6;
}

.populars .header_name,
.categories .header_name{
	margin:10px 0 25px 0;
	text-align: center;
	font-size:36px;
}
.populars.welcome-food .row,
.populars.welcome-drink .row{
	margin:0;
}
.header_name a{
	color: #5e5e5e;
	text-decoration: none;
}

.wel_see_more{
	float: right;
	padding-top: 25px;
	font-size: 16px;
}

.most-populars,
.cur-populars{
	position: relative;
}

.most-populars{
	height:260px;
}
.current_cat .desc_img{
	border-right: 1px solid #5e5e5e;
}

.current_cat .top_descript{
	overflow: hidden;
}

.current_cat .descript .top_descript h2{
	margin: 0;
	display: inline-block;
	float: left;
}

.current_cat .top_descript .time_recept{
	margin: 0;
	display: inline-block;
	float: right;
}

.current_cat .bot_descript{
	padding-top: 30px;
}

.most-populars img{
	position: absolute;
	z-index:1;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	overflow:hidden;
}

.animation_msp_1{
	position:absolute;
	top:-20%;
	left:-20%;
	width:0%;
	height:0%;
	border:0px solid #FFF;
	background:rgba(0,0,0,0.3);
	transition:all 0.5s;
}
.most-populars:hover .animation_msp_1{
	position:absolute;
	top:5%;
	left:5%;
	width:90%;
	height:90%;
	border:2px solid #FFF;
	background:rgba(0,0,0,0.3);
	z-index: 2;
}
.animation_msp_2{
	position:absolute;
	bottom:-20%;
	right:-20%;
	width:0%;
	height:0%;
	border:0px solid #FFF;
	background:rgba(0,0,0,0.3);
	transition:all 0.5s;
}
.most-populars:hover .animation_msp_2{
	position:absolute;
	bottom:5%;
	right:5%;
	width:90%;
	height:90%;
	border:2px solid #FFF;
	background:rgba(0,0,0,0.3);
	z-index: 2;
}

.most-populars a {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 26px;
	cursor: pointer;
	text-transform: uppercase;
	opacity:1;
	text-decoration: none;
}

.most-populars .text {
	z-index:10;
	padding: 20px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.cur-populars {
	overflow: hidden;
	padding-bottom: 25px;
}

.cur-populars .desc_img img{
	position: relative;
	z-index:1;
	height: 240px;
	width: 100%;
	opacity:1;
}

/*		current		*/
.current{
	overflow: hidden;
	padding-bottom: 20px;
}

.current .cur_desc_img img{
	position: relative;
	z-index:1;
	height: 100%;
	width: 100%;
	opacity:1;
}

.cur_ingredients_items p{
	margin:0;
}

/*         categories           */
.category-populars{
    outline:1px solid red;
    height:200px;
}

/* footer  */
footer .my_box{
	display: inline-block;
	padding:10px;
	background: #558b2f;
	border-radius: 50%;
	margin-right: 10px;
}
footer .my_box:hover i{
	text-decoration: none;
	color: #ee6e73;
}
footer .my_box i{
	font-size:24px;
	color: #fff;
}
footer .nav-wrapper ul li{
	display: inline-block;
	margin:0 30px;
}
footer .nav-wrapper ul > li > a{
	color: #fff;
	font-size:16px;
	text-transform: uppercase;
	transition: background 0.3s;
}
footer .nav-wrapper ul > li > a:hover{
	text-decoration: underline;
}

/*for left navbar*/
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }



@media only screen and (max-width : 1800px){

}

@media only screen and (max-width : 1200px){
	.menu-icons img{
		display: block;
		margin-bottom: 5px;
	}
}


@media only screen and (max-width : 992px){

}

@media only screen and (max-width : 768px){
	.menu-top .container{
		padding-left: 15px;
	}

}

@media only screen and (max-width : 480px){
	
}